<div class="container">
  <nav class="nav">
    <div class="nav-left">
      <a class="nav-item" href="/">
        <img src="../assets/bulma-logo.png" alt="Bulma logo">
      </a>
    </div>

    <div class="nav-center">
      <a class="nav-item" href="http://www.github.com/grahamplata">
        <span class="icon">
        <i class="fa fa-github"></i>
      </span>
      </a>
      <a class="nav-item" href="http://www.twitter.com/grahamplata">
        <span class="icon">
        <i class="fa fa-twitter"></i>
      </span>
      </a>
      <a class="nav-item" href="http://www.instagram.com/grahamplata">
        <span class="icon">
        <i class="fa fa-instagram"></i>
      </span>
      </a>
      <a class="nav-item" href="http://www.vimeo.com/grahamplata">
        <span class="icon">
        <i class="fa fa-vimeo"></i>
      </span>
      </a>
    </div>

    <!-- This "nav-toggle" hamburger menu is only visible on mobile -->
    <!-- You need JavaScript to toggle the "is-active" class on "nav-menu" -->
    <span class="nav-toggle">
    <span></span>
    <span></span>
    <span></span>
    </span>

    <!-- This "nav-menu" is hidden on mobile -->
    <!-- Add the modifier "is-active" to display it on mobile -->
  </nav>
  
  <!-- Twitter Feed Component Injection Point -->
  <app-twitterfeed></app-twitterfeed>

  <div class="tile is-ancestor">
    <div class="tile is-vertical is-8">
      <div class="tile">
        <div class="tile is-parent">
          <article class="tile is-child box">
            <p id="" class="title">Greetings!</p>
            <p>My name is Graham and welcome to my digital sandbox.</p>
            <img src="../assets/profile.PNG" alt="">
          </article>
        </div>
        <div class="tile is-parent is-vertical">
          <article class="tile is-child box">
            <p class="title">Hey Graham!</p>
            <p><strong>What are you known for?</strong></p>
            <p>I am known for my technological prowess and keen eye for design.</p>
            <hr>
            <p><strong>Where are you currently?</strong></p>
            <p>Right now I work as a private contractor for UnicaLabs in Philadelphia, PA.</p>
            <hr>
            <p><strong>What is your best memory?</strong></p>
            <p>My most memorable moment thus far was acting as Director of Photography for a collaboration project between BMW
              and Men's Health.</p>
          </article>

        </div>

      </div>
      <div class="tile is-parent">
        <article class="tile is-child box">
          <p class="title">About me...</p>
          <p>I am a filmmaker and amateur programmer based in Philadelphia, Pennsylvania. Currently I work as a private rails
            software developer alongside UnicaLabs. Prior to that I was with Candoris as a Client Warrior (Account Executive)
            specializing in enterprise data center sales. In 2013 I graduated from Temple University with a focus in new
            media. This allotted me the privilege to join up with the talented filmmakers at Gabello Studios. and Shufflebox
            Productions.
          </p>
        </article>
      </div>
    </div>
      
  <!-- Github Project Feed Component Injection Point -->
    <app-github></app-github>
  </div>

  <footer class="footer">
    <div class="container">
      <div class="content has-text-centered">
        <p>Built with Angular. made with
          <i class="fa fa-heart-o" aria-hidden="true" style="color: red;"></i> by
          <a href="https://twitter.com/grahamplata">@grahamplata</a>
      </div>
    </div>
  </footer>
</div>
